* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
.container {
  margin: 0 auto;
  position: relative;
  z-index: 0;
}
.container .navigation {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .container .navigation .navigation_logo {
    margin-left: 10px;
  }
}

/* Navigation styles start */

.container .navigation .navigation_logo {
  height: 100px;
  display: flex;
  align-items: center;
}
.container .navigation .navigation_buttons {
  display: flex;
  align-items: center;
}
@media (max-width: 1200px) {
  .container .navigation .navigation_buttons .nav_button {
    display: none;
  }
}
.container .navigation .navigation_buttons .nav_button {
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 14px;
}
.container .navigation .navigation_buttons .nav_button_active {
  padding-bottom: 5px;
  border-bottom: 5px solid #e8bf5d;
}

/* Navigation styles end */

/* Main silder styles start */

.main_gallery {
  max-width: 100vw;
  overflow: hidden;
}
.main_gallery .carousel_container .carousel_item {
  width: 100%;
  position: relative;
}
.main_gallery .carousel_container .carousel_item .carousel_image {
  width: 100%;
}
.main_gallery .carousel_container .carousel_item .image_shadow {
  width: 100%;
  position: absolute;
}

.main_gallery .carousel_container .carousel_item .carousel_item_description {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20%;
  width: 50vw;
}

.main_gallery
  .carousel_container
  .carousel_item
  .carousel_item_description
  .description_text
  .main_title {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-weight: 500;
}
.main_gallery
  .carousel_container
  .carousel_item
  .carousel_item_description
  .description_text {
  padding-left: 15px;
  border-left: 4px solid #e8bf5d;
}
.main_gallery
  .carousel_container
  .carousel_item
  .carousel_item_description
  .description_text
  .main_desc {
  font-size: 1.5rem;
}

.main_gallery
  .carousel_container
  .carousel_item
  .carousel_item_description
  .description_contact
  .contact {
  background-color: #e8bf5d;
  border: none;
  padding: 10px 35px;
  border-radius: 25px;
  cursor: pointer;
}

@media (max-width: 576px) {
  .main_gallery .carousel_container .carousel_item .carousel_item_description {
    position: relative;
    flex-direction: column;
    bottom: 10%;
    color: black;
    transform: none;
    left: 0;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
  }
  .main_gallery
    .carousel_container
    .carousel_item
    .carousel_item_description
    .description_text {
    margin-bottom: 20px;
  }
  .main_gallery
    .carousel_container
    .carousel_item
    .carousel_item_description
    .description_text
    .main_title {
    font-size: 2.5rem;
  }
  .main_gallery
    .carousel_container
    .carousel_item
    .carousel_item_description
    .description_text
    .main_desc {
    font-size: 0.8rem;
  }
}

/* Main silder styles end */
/* About, practice, attorney styles start */
#about,
#attorney,
#publications,
#contact {
  padding: 60px 15px;
}

#practice,
#client,
#questions {
  background-color: black;
  color: white;
  margin: 0;
  padding: 30px 15px;
}
#questions {
  padding-bottom: 50px;
}
#about .container .description_text,
#practice .container .description_text,
#attorney .container .description_text,
#client .container .description_text,
#publications .container .description_text,
#questions .container .description_text,
#contact .container .description_text {
  margin: 30px 0;
  font-family: 'Playfair Display', serif;
}
#about .container .description_text .main_title,
#practice .container .description_text .main_title,
#attorney .container .description_text .main_title,
#client .container .description_text .main_title,
#publications .container .description_text .main_title,
#questions .container .description_text .main_title,
#contact .container .description_text .main_title {
  padding-left: 15px;
  padding-bottom: 10px;
  border-left: 4px solid #e8bf5d;
}
#about .container .description_text .main_desc,
#practice .container .description_text .main_desc,
#attorney .container .description_text .main_desc,
#client .container .description_text .main_desc,
#publications .container .description_text .main_desc,
#questions .container .description_text .main_desc,
#contact .container .description_text .main_desc {
  padding-left: 15px;
  border-left: 4px solid #e8bf5d;
}

#about .container .about_description {
  margin: 30px 0;
  display: flex;
}
#about .container .about_description .history {
  flex-basis: 50%;
}
#about .container .about_description .history .history_title,
#about .container .about_description .expertise .expertise_title {
  padding-bottom: 25px;
  font-family: 'Playfair Display', serif;
}
#about .container .about_description .history .history_item {
  display: flex;
  padding-bottom: 20px;
}
#about .container .about_description .history .history_item .title {
  font-weight: bold;
  margin-right: 20px;
}
#about .container .about_description .history .history_item .desc {
  margin-right: 20px;
  font-size: 0.8rem;
}

#about .container .about_description .expertise {
  flex-basis: 50%;
}
#about .container .about_description .expertise .expertise_item {
  font-size: 0.8rem;
  line-height: 1.6rem;
  font-weight: light;
}

@media (max-width: 992px) {
  #about .container .about_description {
    flex-direction: column;
  }
}

/* About, practice, attorney styles end */

/* Practice styles start */
#practice .container .practice_container .practice_inner {
  display: flex;
  flex-wrap: wrap;
  margin: 60px 0;
}
#practice .container .practice_container .practice_inner .practice_element {
  flex-basis: 50%;
  display: flex;
  padding: 25px;
}
#practice
  .container
  .practice_container
  .practice_inner
  .practice_element
  .icon_wrap {
  padding: 10px;
}
#practice
  .container
  .practice_container
  .practice_inner
  .practice_element
  .icon_wrap
  .icon {
  color: #e8bf5d;
  font-size: 2rem;
}
#practice
  .container
  .practice_container
  .practice_inner
  .practice_element
  .desc {
  padding-left: 15px;
}
#practice
  .container
  .practice_container
  .practice_inner
  .practice_element
  .desc
  .desc_title {
  margin-bottom: 15px;
  font-family: 'Playfair Display', serif;
}

@media (max-width: 992px) {
  #practice .container .practice_container .practice_inner {
    flex-direction: column;
  }
}
/* Practice styles end */

/* Attorney styles start */

#attorney .container .attorney_container {
  display: flex;
  flex-wrap: wrap;
}
#attorney .container .attorney_container .attorney_image {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 10px;
}
#attorney .container .attorney_container .attorney_image .person_name {
  font-family: 'Playfair Display', serif;
  padding-top: 20px;
  font-size: 1.2rem;
}
#attorney .container .attorney_container .attorney_image .person_position {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.8rem;
}

@media (max-width: 1200px) {
  #attorney .container .attorney_container .attorney_image {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 992px) {
  #attorney .container .attorney_container .attorney_image .picture {
    width: 90%;
  }
}
@media (max-width: 576px) {
  #attorney .container .attorney_container .attorney_image {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
}
/* Attorney styles end */

/* Client styles start  */

#client {
  background-image: url('/images/client_bcg.png');
  background-position: center;
  background-size: cover;
}
#client .container .client_container {
  display: flex;
}
#client .container .client_container .client_image {
  padding: 0 25px 25px 0;
  position: relative;
}
#client .container .client_container .client_image .client_image_background {
  position: absolute;
  top: 0;
  transform: translate(5%, 5%);
  background-color: #e8bf5d;
  width: 370px;
  height: 305px;
  z-index: -1;
}
#client .container .client_container .client_opinion {
  padding: 15px;
  display: flex;
  align-items: flex-start;
}
#client .container .client_container .client_opinion .quote_mark {
  padding: 0 10px;
}
#client .container .client_container .client_opinion .quote_mark .mark {
  font-family: 'Playfair Display', serif;
  font-size: 7rem;
  line-height: 3rem;
  color: #535251;
}
#client
  .container
  .client_container
  .client_opinion
  .client_quote
  .client_text {
  padding-bottom: 10px;
  line-height: 1.7rem;
  font-size: 0.9rem;
}
#client
  .container
  .client_container
  .client_opinion
  .client_quote
  .client_name {
  padding-bottom: 10px;
  font-family: 'Playfair Display', serif;
}
#client
  .container
  .client_container
  .client_opinion
  .client_quote
  .client_position {
  font-size: 0.8rem;
}
#client .container .client_switch {
  margin: 15px 0;
}
#client .container .client_switch .dots {
  display: flex;
  margin: 0 auto;
  width: 40px;
  justify-content: space-between;
}
#client .container .client_switch .dots .dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
}
#client .container .client_switch .dots .active_dot {
  background-color: white;
}
/* Client styles end  */
/* Publications styles start */
#publications .container .publications_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#publications .container .publications_cards .card {
  flex: 0 0 30%;
  max-width: 30%;
  padding: 0 10px;
  padding-bottom: 20px;
  border-bottom: 5px solid #e8bf5d;
}
#publications .container .publications_cards .card .card_image {
  width: 100%;
}
#publications .container .publications_cards .card .card_title {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  margin-top: 15px;
  font-size: 1.2rem;
}
#publications .container .publications_cards .card .card_author {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
#publications .container .publications_cards .card .card_author .author {
  font-weight: bold;
}
#publications .container .publications_cards .card .card_author .author span {
  margin-right: 5px;
  font-weight: normal;
}
#publications .container .publications_cards .card .card_content {
  margin-top: 15px;
  line-height: 2rem;
  font-size: 0.9rem;
}
#publications .container .publications_cards .card .social {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
#publications .container .publications_cards .card .social .share,
#publications .container .publications_cards .card .social .comments {
  cursor: pointer;
}

@media (max-width: 992px) {
  #publications .container .publications_cards {
    flex-direction: column;
  }
  #publications .container .publications_cards .card {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }
}
/* Publications styles end */
/* Questions styles start  */

#questions .container .questions_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#questions .container .questions_container .questions_list,
#questions .container .questions_container .question_text {
  flex: 0 0 50%;
  max-width: 50%;
}
#questions .container .questions_container .questions_list .questions {
  list-style: none;
}
#questions
  .container
  .questions_container
  .questions_list
  .questions
  .question {
  display: flex;
  justify-content: space-between;
  margin-right: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 2px solid #e8bf5d;
  color: white;
}

#questions .container .questions_container .questions_list .questions .active {
  color: #e8bf5d;
}
#questions
  .container
  .questions_container
  .questions_list
  .questions
  .question
  .mark {
  padding-right: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

#questions .container .questions_container .question_text {
  padding: 25px;
  background-color: #e8bf5d;
  border-radius: 5px;
}
#questions .container .questions_container .question_text .question_content {
  color: black;
  line-height: 1.5rem;
}

/* Questions styles end  */

/* Contact styles start  */

#contact .container .form_container {
  width: 100%;
}
#contact .container .form_container .contact {
  display: flex;
  margin: 0 auto;
  width: 781px;
  justify-content: space-between;
  padding: 59px 35px;
  box-shadow: -1px 10px 19px -4px rgb(0 0 0 / 26%);
}
#contact .container .form_container .contact .contact_form {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
#contact .container .form_container .contact .contact_form #name,
#contact .container .form_container .contact .contact_form #email,
#contact .container .form_container .contact .contact_form #phone,
#contact .container .form_container .contact .contact_form #message {
  border: none;
  border-bottom: 1px solid #c6bfbf;
  margin-bottom: 15px;
  padding: 6px 0px;
  font-size: 12px;
}
#contact .container .form_container .contact .contact_form .form_sbmit {
  padding: 15px;
  width: 70%;
  border-radius: 39px;
  border: none;
  background-color: #e8bf5d;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}
#contact .container .form_container .contact .map {
  position: relative;
}
#contact .container .form_container .contact .map .map_image_background {
  position: absolute;
  top: 0;
  transform: translate(-5%, 5%);
  background-color: #e8bf5d;
  width: 363px;
  height: 363px;
  z-index: -1;
}
